.Dropdown {
  position: relative;
}

.Dropdown__popover {
  display: none;
  width: 100%;
  margin-top: 15px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.Dropdown__popover--open {
  display: inline-block;
}
